@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.header {

  &__wrapper {
    @include wrapper(1460px);
    padding: 20px;
    display: flex;
    gap: 40px;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 4;
  }

  &__nav {
    position: static;

    @include adaptiveTo(500px) {
      top: 0;
      right: 100%;
      bottom: 0;
      width: 100%;
      height: 100vh;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: white;
    }

    ul {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 50px;

      @include adaptiveTo(500px) {
        flex-direction: column;

        li {
          color: $primary;
          font-size: 48px;
          justify-content: space-around;
        }
      }
    }

    &.header__burger-menu {
      transform: translate(100%);
    }
  }

  &__burger-menu-btn {
    display: none;

    @include adaptiveTo(500px) {
      display: block;
    }
  }

  &__burger-menu-close-btn {
    display: none;

    @include adaptiveTo(500px) {
      display: block;
      position: relative;
      z-index: 5;
    }
  }
}